.requester__wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.requester__table {
  flex: 1;
  padding: 10px;
}

.requester__map {
  flex: 4;
  width: 100%;
  margin-bottom: 100px;
}
